{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="keywords" content="share, learn english, learn programming">
	<meta name="description" content="Share your English/Development skills!">
	<title>Code&amp;English</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="{% static 'style/main.css' %}" rel="stylesheet">
</head>
<body>
	<div class="cover">
		<div class="navbar">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
				</div>
				<div class="collapse navbar-collapse" id="navbar-ex-collapse">
					<ul class="nav navbar-nav navbar-right"></ul>
				</div>
			</div>
		</div>
		<div class="cover-image" style="background-image : url('https://ununsplash.imgix.net/uploads/14127101912749510b8ed/82743738?w=1024&amp;q=50&amp;fm=jpg&amp;s=2150993787c74416103059d6ebac09f5')"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 class="text-primary">Code &amp; English</h1>
					<p class="text-primary size">Share your English and programming skills</p>
					<br>
					<br>
					<a class="btn btn-lg btn-primary size">sign up<br></a><a class="btn btn-lg btn-primary size">login<br></a>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<img src="http://wstaw.org/m/2016/02/21/english-dictionary-1559631.jpg" class="img-responsive">
				</div>
				<div class="col-md-6">
					<h1 class="text-primary">Do you want to improve your English?</h1>
					<h3></h3>
					<p class="description">Do you have programming skills but would like to improve your English? What about connect with people who can help you to improve your English skill?&nbsp;</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1 class="text-primary">Do you want to learn how to code?</h1>
					
					<p class="description">Are you a native/fluent English speaker and would like to learn how to code? Here you can find who can help you while you &nbsp;teach English!</p>
				</div>
				<div class="col-md-6">
					<img src="http://wstaw.org/m/2016/02/21/plasma-desktopjM2067.png" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center text-primary">Code&amp;English Team</h1>
					<p class="text-center">We are two guys with Python skills</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<img src="https://avatars1.githubusercontent.com/u/434694?v=3&amp;s=400" class="center-block img-circle img-responsive">
					<h3 class="text-center">Fellipe Pinheiro</h3>
					<p class="text-center">Web Developer</p>
				</div>
				<div class="col-md-6">
					<img src="https://avatars3.githubusercontent.com/u/1661112?v=3&amp;s=400" class="center-block img-circle img-responsive">
					<h3 class="text-center">Patrick Mazulo</h3>
					<p class="text-center">Web Developer</p>
				</div>
				
			</div>
		</div>
	</div>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>