<!DOCTYPE html>
{% load static %}
<html>
<head lang="pt-BR">
    <meta charset="UTF-8">
    <title>
        {% block title %}Code&English{% endblock title %}
    </title>
</head>
<body>
    <section id="wrapper">
        <div id="container">

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success mesagem">
                            <i class="fa fa-check"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            {{message}}
                        </div>
                    {% elif message.tags == 'warning'%}
                        <div class="alert alert-warning mesagem">
                            <i class="fa fa-warning"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            {{message}}
                        </div>
                    {% elif message.tags == 'error'%}
                        <div class="alert alert-danger mesagem">
                            <i class="fa fa-ban"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            {{message}}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        
            {% block content %}{% endblock content %}
        </div>
    </section>
    <footer>
    </footer>
</body>
</html>