<!DOCTYPE html>
{% load static %}
<html>
<head lang="pt-BR">
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
	<title>
		{% block title %}Code&English{% endblock title %}
	</title>
</head>
<body>
	<div class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" data-target="#navbar-ex-collapse" data-toggle="collapse" type="button">
					<span class="sr-only">
						Toggle navigation
					</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'core:index' %}">
					<span>Code&amp;English</span>
				</a>
			</div>
			{% if user.is_authenticated %}
			<div class="collapse navbar-collapse" id="navbar-ex-collapse">
				<ul class="nav navbar-nav navbar-right">
					{% block nav_bar %}
					<li>
						<a href="{% url 'users:dashboard' %}">Dashboard<br></a>
					</li>

					<li>
						<a href="{% url 'users:user_explore' %}">Explore</a>
					</li>

					<li class="active">
						<a href="{% url 'users:user_invitations' %}">Invitations</a>
					</li>
					{% endblock nav_bar %}
					<li>
						<a href="{% url 'users:logout' %}">Logout</a>
					</li>
				</ul>
			</div>
			{% endif %}
		</div>
	</div>
	<section class="section info-user">
		<div class="container">
			<ol class="breadcrumb">
				{% block breadcrumb %}
			  <li><a href="{% url 'users:dashboard' %}">Dashboard</a></li>
			  {% endblock breadcrumb %}
			</ol>
			{% if messages %}
				{% for message in messages %}
					{% if message.tags == 'success' %}
						<div class="alert alert-success mesagem">
							<i class="fa fa-check"></i>
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							{{message}}
						</div>
					{% elif message.tags == 'warning'%}
						<div class="alert alert-warning mesagem">
							<i class="fa fa-warning"></i>
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							{{message}}
						</div>
					{% elif message.tags == 'error'%}
						<div class="alert alert-danger mesagem">
							<i class="fa fa-ban"></i>
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							{{message}}
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
		
			{% block content %}{% endblock content %}
		</div>
	</section>
	<footer>
	</footer>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>