{% extends "base.html" %}
{% block content %}

<div class="section info-user">
	<div class="container">
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-12">
					<div class="section">
						<div class="container">
							<div class="row">
								<div class="col-md-3"><img class="img-responsive" src= "http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png">
								</div>

								<div class="col-md-9">
									<h1>{{ user.full_name }}</h1>

									<div class="col-md-12">
										<p><span style="line-height: 28.5714px;">Email:
										{{ user.email }}</span>
										</p>
										 <p><span style="line-height: 28.5714px;">Country:
										{{ user.country.name }}</span>
										</p>
										{% for interest in interests %}
											{% if interest.iam == 'T' %}
												<p>I Can Teach:</p>
												<p> - {{ interest.subject }} - 
													{% if interest.level == 0 %}
														Basic
													{% elif interest.level == 1 %}
														Intermediate
													{% else %}
														Advanced
													{% endif %}
												</p> 
											{% elif interest.iam == "S" %}
												<p>I Want to Learn:</p>
												<p> - {{ interest.subject }} - 
													{% if interest.level == 0 %}
														Basic
													{% elif interest.level == 1 %}
														Intermediate
													{% else %}
														Advanced
													{% endif %}
												</p> 
											{% endif %}
										{% endfor %}

										<div class="form-inline">
											<div class="form-group">
												<a href="{% url 'users:user_profile' %}" class="btn btn-primary form-control">Update Profile</a> 
												
											</div>
											<div class="form-group">
												<a class="btn btn-primary form-control">Update Interests</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section text-center">
	<div class="container">
		<div class="row">
			<div class="div-center col-md-6 col-md-offset-3 text-center">
				<a class="btn btn-block btn-primary">Explore</a>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">You are teaching to</h1>
			</div>
		</div>
		<div class="row">
			{% for teaching in teaching_to %}

				<div>
					<div class="col-md-2">
						<img class="img-circle img-responsive" src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png">
					</div>

					<div class="col-md-4">
						<h3 class="text-left">{{ teaching.student.full_name }}</h3>
						<p class="text-left">Teaching: {{ teaching.teach }}</p>
					</div>
				</div>

			{% endfor %}
		</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">You are learning from</h1>
			</div>
		</div>
		<div class="row">
			{% for learning in learning_from %}
				
				<div class="col-md-2">
					<img class="img-circle img-responsive" src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png">
				</div>

				<div class="col-md-4">
					<h3 class="text-left">{{ learning.teacher.full_name }}</h3>
					<p class="text-left">Learning: {{ learning.teach }}<br></p>
				</div>

			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}
