{% extends "base.html" %}

{% block breadcrumb %}
	{{ block.super }}
	<li class="active">Explore</li>
{% endblock breadcrumb %}

{% block nav_bar %}
    <li>
        <a href="{% url 'users:dashboard' %}">Dashboard<br></a>
    </li>

    <li class="active">
        <a href="{% url 'users:user_explore' %}">Explore</a>
    </li>
  
    <li>
        <a href="#">Notifications</a>
    </li>
{% endblock nav_bar %}

{% block content %}
<div class="section text-left">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{% if student_users or teacher_users %}
					<h1>
						These users want to learn what you teach
					</h1>
				{% else %}
					<h1>
						Nothing to show by now
					</h1>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">
				</h1>
				{% if student_users %}
					<h1 class="text-center" style="color: rgb(0, 0, 0);">
						Who do you want to teach
					</h1>
				{% endif %}
			</div>
		</div>

		<div class="row">
		{% if student_users %}
			{% for student in student_users %}
				<div class="row user">
					<div class="col-md-2">
						<img class="img-circle img-responsive" src=
						"http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png">
					</div>
					
					<div class="col-md-4">
						<h3 class="text-left">
						{% if student.full_name %}
							{{ student.full_name }}
						{% else %}
							{{ student.email }}
						{% endif %}
						</h3>
					
						<p class="text-left">
							Want to learn: 
							{% for interest in student.interests.all %}
								<span class="badge">{{ interest.subject.name }}</span>
							{% endfor %}
						</p>
						<a href="#"><i class="fa fa-3x fa-ban fa-fw text-danger"></i></a>
						<a href="#"><i class="fa fa-3x fa-check fa-fw text-success"></i></a>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			{% if student_users %}
				<h1 class="text-center">
					These users can teach you
				</h1>
			{% endif %}
			</div>
		</div>

		<div class="row">
		{% if teacher_users %}
			{% for teacher in teacher_users %}
				<div class="row user">
					<div class="col-md-2">
						<img class="img-circle img-responsive" src=
						"http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png">
					</div>
					
					<div class="col-md-4">
						<h3 class="text-left">
							{{ teacher.full_name }}
						</h3>
					
						<p class="text-left">
							Want to learn: 
							{% for interest in teacher.interests.all %}
								<span class="badge">{{ interest.subject.name }}</span>
							{% endfor %}
						</p>
						<a href="#"><i class="fa fa-3x fa-ban fa-fw text-danger"></i></a>
						<a href="#"><i class="fa fa-3x fa-check fa-fw text-success"></i></a>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		</div>
	</div>
</div>
{% endblock content %}