{% extends "base.html" %}

{% block breadcrumb %}
	{{block.super}}
	<li class="active">Notifications</li>
{% endblock breadcrumb %}

{% block nav_bar %}
    <li>
        <a href="{% url 'users:dashboard' %}">Dashboard<br></a>
    </li>

    <li>
        <a href="{% url 'users:user_explore' %}">Explore</a>
    </li>

    <li class="active">
        <a href="{% url 'users:notifications' %}">Notifications</a>
    </li>
{% endblock nav_bar %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<h1>
			These users want to connect with you
		</h1>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<h1 class="text-center">
		</h1>

		<h1 class="text-center" style="color: rgb(0, 0, 0);">
			Received messages
		</h1>
	</div>
</div>
{% for message in messages_received %}
	<div class="row">
		<div class="col-md-2">
			<img class="img-circle img-responsive" src=
			"http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png">
		</div>

		<div class="col-md-4">
			<h3 class="text-left">
				{{ message.sender.full_name }}
			</h3>
			<p><strong>Subject</strong>: {{message.subject}}</p>
			<p class="text-left">
				{{ message.description }}
			</p>
			<a href="{% url 'users:remove_message' message	.pk %}"><i class="fa fa-3x fa-ban fa-fw text-danger"></i></a>
			<a href="#"><i class="fa fa-3x fa-check fa-fw text-success"></i></a>
			{% if not message.read %}
				<a href="#"><i class="fa fa-3x fa-eye fa-fw"></i></a>
			{% endif %}
		</div>
	</div>
{% endfor %}



{% endblock content %}