{% extends "base.html" %}
{% block content %}

<div class="section info-user">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section">
					<div class="container">
						<div class="row">
							<div class="col-md-3"><img class="img-responsive" src=
							"http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png">
							</div>


							<div class="col-md-9">
								<h1>Nome do Usuário</h1>


								<div class="col-md-12">
									<p><span style="line-height: 28.5714px;">Email:
									email@email.com</span>
									</p>


									<p>Can Teach: Python, Django, Database<br>
									&nbsp; &nbsp; - Level:&nbsp;Intermediate</p>


									<p>Want to Learn: English<br>
									&nbsp; &nbsp; - Level:&nbsp;Basic</p>
									<a class="btn btn-lg btn-primary">Update Interests</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Update your profile</h1>

				<form role="form" action="." method="POST">
					<div class="form-group">
						<label class="control-label" for=
						"exampleInputEmail1">Username</label><input class="form-control" id=
						"exampleInputEmail1" placeholder="Enter email" type="email">
					</div>

					<div class="form-group">
						<label class="control-label" for="exampleInputEmail1">Email
						address</label><input class="form-control" id="exampleInputEmail1"
						placeholder="Enter email" type="email">
					</div>

					<div class="form-group">
						<label class="control-label" for=
						"exampleInputPassword1">Password</label><input class="form-control" id=
						"exampleInputPassword1" placeholder="Password" type="password">
					</div>
					<button class="btn btn-primary" type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}