{% extends "base.html" %}
{% block content %}

<div class="section info-user">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section">
					<div class="container">
						<div class="row">
							<div class="col-md-3"><img class="img-responsive" src=
							"http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png">
							</div>


							<div class="col-md-9">
								<h1>Nome do Usuário</h1>


								<div class="col-md-12">
									<p><span style="line-height: 28.5714px;">Email:
									email@email.com</span>
									</p>


									<p>Can Teach: Python, Django, Database<br>
									&nbsp; &nbsp; - Level:&nbsp;Intermediate</p>


									<p>Want to Learn: English<br>
									&nbsp; &nbsp; - Level:&nbsp;Basic</p>
									<a class="btn btn-lg btn-primary">Update Interests</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Update your profile</h1>

				<form  method="POST" enctype="multipart/form-data" role="form">
					{% csrf_token %}

						{{ form.non_field_errors}}

						{% for field in form %}
							<div class="form-group">
								{{ field.label_tag }}
								{{ field }}
								{{ field.errors }}
							</div>
						{% endfor %}

						<div class="form-inline">
							<button class="btn btn-primary form-control" 
								type="submit">
								<i class="fa fa-floppy-o"></i> 
								Submit</button>
							<div class="form-group">
						</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}