{% extends "base.html" %}
{% block content %}

<div class="section info-user">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3"><img class="img-responsive" src=
                            "http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png">
                            </div>

                                <div class="col-md-9">
                                    <h1>Interests of {{ user.full_name }}:</h1>

                                    <div class="col-md-12">
                                        <p><h4>I Can Teach:</h4></p>
                                        {% for interest in interests %}
                                            {% if interest.iam == 'T' %}
                                                <div class="panel panel-default">
                                                  <div class="panel-body">
                                                    <p> {{ interest.subject }} - 
                                                        {% if interest.level == 0 %}
                                                            <span class="badge">Basic</span>
                                                        {% elif interest.level == 1 %}
                                                        <span class="badge">Intermediate</span>
                                                        {% else %}
                                                        <span class="badge">Advanced</span>
                                                        {% endif %}
                                                         <a class="pull-right btn btn-danger btn-xs" role="button" 
                                                            href="{% url 'users:remove_interest' interest.pk %}">Remove 
                                                        </a>
                                                    </p>                                                                                                 
                                                  </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <p><h4>I Want to Learn:</h4></p>
                                        {% for interest in interests %}
                                            {% if interest.iam == 'S' %}
                                                <div class="panel panel-default">
                                                  <div class="panel-body">
                                                    <p> {{ interest.subject }} - 
                                                        {% if interest.level == 0 %}
                                                            <span class="badge">Basic</span>
                                                        {% elif interest.level == 1 %}
                                                        <span class="badge">Intermediate</span>
                                                        {% else %}
                                                        <span class="badge">Advanced</span>
                                                        {% endif %}
                                                         <a class="pull-right btn btn-danger btn-xs" role="button" 
                                                            href="{% url 'users:remove_interest' interest.pk %}">Remove 
                                                        </a>
                                                    </p>                                                                                                 
                                                  </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Update your interests</h1>

               <form  method="POST" enctype="multipart/form-data" role="form">
                    {% csrf_token %}

                        {{ form.non_field_errors}}

                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}

                        <div class="form-inline">
                            <button class="btn btn-primary form-control" 
                                type="submit">
                                <i class="fa fa-floppy-o"></i> 
                                Submit</button>
                            <div class="form-group">
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}